.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin: 50px;
}
.reg-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(77, 201, 201);
    padding: 50px;
    border-radius: 30px;
    width: 60%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}
input{
    margin-bottom: 20px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 4px;
    padding-left: 10px;
    width: 60%;
    
}
button{
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: rgb(126, 96, 96);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
h6{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
span {
    cursor: pointer;
    color: rgb(44, 44, 110);
}
span:hover{
    color: rgb(65, 65, 91);
}

